<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span>&copy; Copyright {{ build.timestamp | dateToFormat('yyyy') }}</span>
        <a class="[ undecorated ]" href="http://github.com/maxboeck/eleventastic">
            {% icon "github" %}Made with Eleventastic
        </a>
    </div>
</footer>