---
layout: base
permalink: /about/
eleventyNavigation:
  key: About
  order: 3
---

<div class="[ container ][ flow ]">

    <h1>About</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto omnis, modi libero corrupti voluptates est vitae aspernatur, ipsum ea culpa nulla pariatur ullam temporibus architecto laudantium, soluta officia minus qui?</p>

</div>